*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    width: 100vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover {
    cursor: pointer;
    background-color: #111;
}
.mainSec{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputs {
    background-color: red;
    flex: 1;
}

.visualize {
    background-color: green;
    flex: 4;
}